<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="mysqlgenerator" targetRuntime="MyBatis3">
        <property name="autoDelimitKeywords" value="true"/>
        <!--可以使用``包括字段名，避免字段名与sql保留字冲突报错-->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <plugin type="cc.mikaka.ddd.plugins.LombokPlugin"/>
        <plugin type="cc.mikaka.ddd.plugins.DefaultExtPlugin"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!--            <property name="suppressAllComments" value="true"/>-->
        </commentGenerator>


        <!--数据库连接信息-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/ddd?useUnicode=true&amp;characterEncoding=utf-8&amp;allowMultiQueries=true"
                        userId="root"
                        password="123456">
            <property name="useInformationSchema" value="true"/>
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>
        <javaTypeResolver>
            <property name="useJSR310Types" value="true"/>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="cc.mikaka.ddd.dao" targetProject="ddd-dao/src/main/java">
            <property name="rootClass" value="cc.mikaka.ddd.dao.BaseDO"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper" targetProject="ddd-dao/src/main/resources"/>
        <javaClientGenerator type="XMLMAPPER" targetPackage="cc.mikaka.ddd.dataobject"
                             targetProject="ddd-dao/src/main/java"/>

        <table tableName="user" domainObjectName="UserDO" mapperName="UserDAO">
            <property name="bizId" value="user_id"/>
            <property name="listByConditionFlag" value="true"/>
            <property name="pageListByConditionFlag" value="true"/>
            <property name="countByConditionFlag" value="true"/>
        </table>

    </context>
</generatorConfiguration>